* {
  padding: 0;
  margin: 0;
}

.height100 {
  height: 100%;
}

.overflow-horizontal {
  overflow-y: hidden;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}