@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Niconne&family=Pacifico&display=swap');

.font-amatic {
    font-family: "Amatic SC", cursive;

}

.font-niconne {
    font-family: 'Niconne', cursive;
}

.font-pacifico {
    font-family: "Pacifico", cursive;
}