.flex {
  display: flex;
}

.flex-row {
  @extend.flex;
  flex-direction: row;
}
.flex-column {
  @extend.flex;
  flex-direction: column;
}

.flex-row-left {
  @extend.flex-row;
  align-items: center;
  justify-content: flex-start;
}
.flex-row-right {
  @extend.flex-row;

  align-items: center;
  justify-content: flex-end;
}
.flex-row-between {
  @extend.flex-row;

  align-items: center;
  justify-content: space-between;
}
.flex-row-center {
  @extend.flex-row;

  align-items: center;
  justify-content: center;
}

.grow {
  flex-grow: 1;
}
