@import "./scss/common.scss";
@import "./scss/flex.scss";
@import "./scss/font.scss";

@media screen and (min-width: 320px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 36px;
  }
}

body {
  height: 100vh;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.mat-menu {
  height: 3rem;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 2.5rem;
  background: url(../../assets/icon/1.png) #fff center no-repeat;
  background-size: 4rem;

  menu {
    padding: 0 1.5rem;
  }

  .item {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    cursor: pointer;
    @extend.font-amatic;
  }
}

.prehead {
  height: 50%;
  @extend.font-pacifico;

  .bg {
    border: 1px solid #a9bab0;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 0.75rem;

    &.lan {
      background: url(../../assets/image/lan.jpg) center no-repeat;
      background-size: 150%;

      &::after {
        content: "Lăn";
        position: absolute;
        top: 5.5rem;
        left: 1.75rem;
      }
    }

    &.dunzz {
      background: url(../../assets/image/dunzz.jpg) 0 no-repeat;
      background-size: 120%;

      &::after {
        content: "Dunzz";
        position: absolute;
        top: 5.5rem;
        left: 1.5rem;
      }
    }
  }

  .love {
    width: 90px;
    height: 50px;
    background: url(../../assets/icon/love.png) center no-repeat;
    background-size: contain;
    margin: 0 16px;
  }
}

.countdate {
  height: 50%;
  border-bottom: 0.05rem dashed #a9bab0;
  border-top: 0.05rem dashed #a9bab0;
  margin: 1rem 0;

  .bg-day,
  .bg-time {
    @extend.font-amatic;
    align-items: center;
    justify-content: center;
    background-size: contain;
  }

  .bg-day {
    background: url(../../assets/icon/6.png) center no-repeat;
    font-size: 1.25em;
    padding: 2rem;
  }

  .bg-time {
    background: url(../../assets/icon/5.png) center no-repeat;
    font-size: 1em;
    padding: 1.5rem;
  }
}

.wrapper {
  padding: 4px 16px;
}

.title-area {
  @extend.font-pacifico;
  text-align: center;
  margin: 0.8rem 0;
  font-size: 1.2rem;
}

.image-area {
  flex-grow: 1;

  .row {
    height: 30%;
    padding: 8px 0;
    flex-grow: 1;

    img {
      margin: 0 8px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}